body {
    margin: 0 auto;
    background-color: lightgray;
}

main {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 67rem;
}

.site-header {
    background-size: cover;
    height: 200px;
    text-align: center;
}

.site-title {
    font-size: 2em;
    border-bottom: 1px solid #333;
}

.img-me {
    width: 300px;
    display: block;
    margin: auto;
}

.img-about {
    width: 700px;
    display: block;
    margin: auto;
}

.main-about {
    display: grid;
    grid-template-columns: 60% auto;
    margin: 0 auto;
    gap: 1em 3em;
}

.kurs-about {
    grid-column: 1/2;
}

.syfte-about {
    grid-column: 2/3;
}

.picture-about {
    grid-column: 1/3;
}

.img-dog {
    width: 700px;
    display: block;
    margin: auto;
    border: 80px solid blueviolet;
    border-radius: 50%;
}

.img-cat {
    width: 700px;
    display: block;
    margin: auto;
    border: 80px solid pink;
    border-radius: 20%;
}

.h3-dog {
    animation: blinker 1s linear infinite;
    font-size: 1.5em;
    font-family: cursive;
    color: blueviolet;
}

.h3-cat {
    animation: blinker 1s linear infinite;
    font-size: 1.5em;
    font-family: cursive;
    color: black;
}

@keyframes blinker {
    50% {
    opacity: 0;
    }
}

.question {
    font-weight: bold;
}

.red-card {
    display: contents;
    font-size: 10em;
    color: red;
    list-style: none;
}

.black-card {
    display: contents;
    font-size: 10em;
    list-style: none;
}

.img-uml {
    width: 700px;
    display: block;
    margin: auto;
}

/* Knappar */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #555555;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #383838;
}


/* KMOM03 */
/* Main */
.main-play {
    background-color: #018e39;
    font-family: Arial, sans-serif;
}

/* Nav */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

/* Hand */
.hand {
    border-radius: 5px;
    padding: 10px;
}

.hand h3 {
    color: #fff;
    margin-top: 0;
    text-decoration: underline;
}

.hand ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.hand li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.727);
    margin: 0 5px;
    padding: 5px 10px;
    height: 100px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.hand h4 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Bottom div */
.bottom {
    color: #fff;
    padding: 10px;
}

/* Knappar */
.bottom a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cd0000;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.bottom a:hover {
    background-color: #760000;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

footer p {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.red {
    color: red;
}

/* KMOM05 */
.library-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.library-table th,
.library-table td {
    padding: 8px;
    border: 1px solid #333;
    text-align: left;
}

.library-table th {
    background-color: #fff;
}

.book-image {
    max-width: 100px;
    height: auto;
}

.add-form,
.edit-form {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group input[type="text"]:focus {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}


/* PROJEKT */

.proj-body {
    background-color: #000;
}

.proj-main {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.body-nav {
    font-size: 3em;
    font-family: sans-serif;
    background-color: #000;
}

.body-nav a:hover {
    background-color: #222;
}

.proj-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.header-h1 {
    margin: auto;
    color: #fff;
    font-size: 4em;
    font-family: sans-serif;
}

.header-nav {
    background: transparent;
}

.clickable-card {
    position: relative;
    display: inline-block;
    width: 200px;  /* Adjust width */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px;
}

.clickable-card img {
    width: 100%;
    height: 100%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Style for the text */
.overlay span {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

/* Hover effect */
.clickable-card:hover .overlay {
    opacity: 1; /* Show the overlay */
}

.clickable-card:hover {
    transform: translateY(-10px); /* Lift the card */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Enhance shadow */
}

/* About */
.about_blackjack {
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    padding: 25px 30px;
    max-width: 67rem;
    margin: 40px auto;
    border-radius: 12px;
}

/* Huvudrubrik */
.about_blackjack h1 {
    color: #444;
    font-size: 2.5em;
    margin-bottom: 20px;
    border-bottom: 3px solid #444;
    padding-bottom: 10px;
}

/* Stycken */
.about_blackjack p {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
}

/* Underh3-rubriker */
.about_blackjack h3 {
    color: #555;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ddd;
}

/* Lista */
.about_blackjack ul {
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-type: disc;
}

.about_blackjack ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #333;
}

.about-proj h3, .rules-proj h3, .gameplay-proj h3, .profit-proj h3 {
    text-align: start;
}


/* Footer for project */
.proj-footer {
    background-color: #000;
    border-top: 2px solid #fff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: sans-serif;
}

.proj-footer-content {
    max-width: 67rem;
    margin: 0 auto;
    padding: 20px;
}

.proj-footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.proj-footer p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info li:hover {
    cursor: pointer;
    color: #1e90ff; /* Color change on hover */
}

.proj-footer-bottom {
    border-top: 1px solid #444;
    padding-top: 10px;
    margin-top: 20px;
}

.proj-footer-bottom p {
    font-size: 12px;
    color: #ccc;
}

.proj-footer a {
    color: #fff;
    text-decoration: none;
}

.proj-footer a:hover {
    color: #1e90ff;
}

.setup {
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: rgb(11, 111, 11);
}

.setup-form-container {
    background-color: #f0f4f8;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: auto;
}

/* Formulär rubrik */
.setup-form-container h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #333;
}

/* Form Group */
.setup-form-group {
    margin-bottom: 20px;
    text-align: left;
}

/* Etikett för textfält */
.setup-form-group label {
    font-size: 1em;
    color: #555;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Textfält */
.setup-form-group input[type="text"], 
.setup-form-group input[type="number"] {
    width: 95%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

/* Textfält Fokus */
.setup-form-group input[type="text"]:focus, 
.setup-form-group input[type="number"]:focus {
    border-color: #007bff;
}

.btn-next {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    display: inline-block;
}

/* Hover-effekt på knappen */
.btn-next:hover {
    background-color: #0056b3;
}

.dealer-div figcaption {
    color: #fff;
    font-size: 1.5em;
}

.current-uscados {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.current-uscados p {
    color: #fff;
    font-size: 1.2em;
    margin: 20px;
}

.gamefield {
    background-color: rgb(11, 111, 11);
    color: #fff;
    font-family: sans-serif;
}

.gamefield-top {
    text-align: center;
}

.gamefield-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamefield-bottom {
    text-align: center;
    font-size: 1.2em;
}

.player-middle {
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    font-family: sans-serif;
}

.player-middle h2, h3 {
    text-align: center;
}

.draw-stop {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-stop {
    background-color: #FF0000;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80px;
}

/* Hover-effekt på knappen */
.btn-stop:hover {
    background-color: #E53935;
}

.btn-draw {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 80px;
}

/* Hover-effekt på knappen */
.btn-draw:hover {
    background-color: #388E3C;
}

.player-img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
    font-size: 1.2em;
}

.dealer-img-end {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-newRound {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border: 5px solid #000;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.btn-newRound:hover {
    background-color: #0056b3;
}

.btn-end {
    background-color: #FF0000;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    border: 5px solid #000;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 150px;
}

.btn-end:hover {
    background-color: #E53935;
}
