{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block main %}
    <h1>Report</h1>

    <article>
        <section>
            <h2 id="kmom01">Kmom01</h2>

            <li class="question">Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</li>
            <p>Tidigare har jag lärt mig om objektorientering i Python, jag har ännu inte avslutat kursen men har som förhoppning att göra det snart. Jag känner att jag lärt mig grunderna till att förstå objektorientering. Kort och gott så skapas objektet utifrån klasser där klasserna fungerar som en slags mall för uppbyggnaden av objektet. Objektets attribut sitter inne på lagringen och det vi kan göra med objektet sker i dess metoder.</p>

            <li class="question">Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</li>
            <p>PHPs modell bygger på samma princip att utifrån klasser skapa objekt. Inuti klassen sätter man sina properties och funktioner, dessa kallas för medlemsvariabler och metoder. Mer än så behöver man egentligen inte veta. I korta enkla steg blir det att skapa en klass, bestäm medlemsvariabler och metoder. Skapa objektet utifrån klassen för att sen kunna sätta värde på medlemsvariablerna och kalla på dess metoder. Ett smidigt sätt att referera till nuvarande objekt är att använda variablen $this. Den använder man i metoder för att referera till det objekt som anropade metoden.</p>

            <li class="question">Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</li>
            <p>Via en controller skapar vi en klass som skapar routes vars metod renderar en utvald template-fil. Beroende på vilken route vi befinner oss på returneras den utvalda template-filen, våra vyer. Jag tycker alltid det är skönt när man kan ha koden uppdelad på olika ställen, det skapar bättre flöde när jag tänker mig genom koden och ger också bättre förståelse. I controllern kan vi sätta upp våra olika klasser som gör sitt och i våra vyer utgår vi från en bas-fil som vi kan bygga på beroende på vilken route vi är inne i.</p>

            <li class="question">Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</li>
            <p>Att kunna testa sin kod är en otroligt viktig del i utvecklingen av applikationer. Man måste vara säker på att det fungerar som det ska annars kan det bli stora problem i framtiden. Dokumentering inom programmering vill jag också lyfta fram, det kan kännas tråkigt men ack så viktigt. Jag kan känna att jag har stenkoll på min kod och förstår den till fullo men tänk om jag behöver dela med mig av koden. Hur ska nästa person kunna förstå? Dokumentering detta arbete väsentligt. I den kan jag förklara koden på ett mer förståeligt sätt.</p>
            <p>Jag tycker det verkar intressant med delen om säkerhet. Allt har blivit så tillgängligt nu och varje gång vi är ute på nätet är vi exponerade för eventuella attacker. Jag kan läsa mig till att PHP erbjuder olika sätt att ”försvara” sig. Det hade varit intressant att veta mer om hur pass säker man egentligen är.</p>

            <li class="question">Vilken är din TIL för detta kmom?</li>
            <p>Mitt TIL för detta kursmoment är att ha lärt mig grunden till att sätta upp en webbsida i Symfony. Jag tycker ramverket har en schysst struktur och det är lätt att jobba i. Ser fram emot att utveckla mina kunskaper i kommande utmaningar.</p>
        </section>

        <section>
            <h2 id="kmom02">Kmom02</h2>

            <li class="question">Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</li>
            <p>Ett arv är när en klass blir en utökning av en annan klass och likt förklaringen implementeras arvet med ordet extends i PHP. Klasserna blir så kallade subklasser.</p>
            <p>Komposition är när en klass består av en annan klass likt en korthand som består av kort. Genom att i korthandens klass lägga till objekt från kortklassen får vi en komposition.</p>
            <p>”Interface är ett kontrakt”, för att citera artikeln från dbwebb. När en klass implementerar ett interface talar den om att den erbjuder det som motsvaras av interfacet. Ett interface är alltså ingen kod som klassen kan nyttja utan ett löfte om att interfacets metoder SKA återfinnas i klassen. På så vis är det lätt att hålla koll på vad man kan förvänta sig av klassen.</p>
            <p>PHP har inte stöd för multipelt arv, istället använder man trait. Trait implementerar funktioner från andra klasser och kan samla det på ett ställe. Klasserna kan i sin tur använda trait och traitets kod blir en del av klassens kod. Lätt förklarat kan man säga att koden kopieras in och blir en del av klassen.</p>

            <li class="question">Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</li>
            <p>Nja det är väl lite blandade känslor. Jag uppfyller kraven och löser uppgiften och det är väl det jag tar med mig. Det är alltid nyttigt att jobba med sessions med postformulär och hela den biten. Det finns mycket att förbättra, jag hade velat jobba mer med funktioner i mina klasser för att kunna hålla controllern ren och snygg, nu är den minst sagt rörig. Jag hade velat få till en sorteringsfunktion som kunde sortera upp den slumpade arrayen men lyckades inte lösa den biten. I min draw/:number route skulle det se betydligt snyggare ut om användaren kunde använda sig av ett input för att skicka med ett nummer istället för att ändra uppe i urlen. Inte minst hela design biten kan snyggas till rejält men jag har fått prioritera annat helt enkelt.</p>

            <li class="question">Vilka är dina reflektioner så här långt med att jobb i Symfony med applikationskod enligt MVC?</li>
            <p>Det är ett väldigt schysst ramverk med god struktur och jag gillar sättet att arbeta enligt MVC. Man har sin controller som ser till att man hamnar där man vill och i vyerna styr vi hur det ska se ut. ”Model class” som bygger på att vi har rätt fil med rätt namn på rätt plats går hand i hand med det andra. Det blir ett flow i vårt tankemönster och underlättar för oss som ska koda.</p>

            <li class="question">Vilken är din TIL för detta kmom?</li>
            <p>Mitt TIL för detta kursmoment är att jag utvecklat mina kunskaper att jobba med klasser. Det är av stor nytta då jag kan få en bättre struktur i mina filer och skapa ett bättre flöde.</p>
        </section>

        <section>
            <h2 id="kmom03">Kmom03</h2>
            <p>Här är redovisningstexten</p>
        </section>

        <section>
            <h2 id="kmom04">Kmom04</h2>
            <p>Här är redovisningstexten</p>
        </section>

        <section>
            <h2 id="kmom05">Kmom05</h2>
            <p>Här är redovisningstexten</p>
        </section>

        <section>
            <h2 id="kmom06">Kmom06</h2>
            <p>Här är redovisningstexten</p>
        </section>

        <section>
            <h2 id="kmom07-10">Kmom07-10</h2>
            <p>Här är redovisningstexten</p>
        </section>
    </article>
{% endblock %}